h1{
    color: rgb(126, 122, 122);
    background-image: linear-gradient(red,yellow);
    font-family: sans-serif;
    font-size: large;
    padding: 10px;
    text-align: center;
}
h2{
    color:rgb(87,99,127);
    text-align: center;
    font-style: italic;
    font-family: Calibri;
    margin-top: 0px;
    background-image: url(images/matrix.png); 
}
h3{
    color: gold;
    font-family: calibri;
}
.box1{
    border-color: black;
    width: auto;
    height: auto;
    box-sizing: border-box;
    width:auto;
}
.box2{
    background-color: rgb(248, 14, 178);
    width: auto;
    font-family: calibri;
}
body{
    max-width: 800px;
}
a:hover{
    color: darkorchid;
    }
a:active{
    color: red; 
}
a:visited{
    color: hotpink;
}
.Experiences{
    width: 800px;
    background-color:aquamarine;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: calibri;
    font-stretch:extra-expanded;
}
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100px;
    margin-bottom: 10px;
}
.marriott{
    color: red;
    font-family: calibri;
    text-align: left;
}
.ct{
    color: blue;
    font-family: calibri;
}
.cf{
    color: green;
    font-family: calibri; 
}
.education, .skills, .recentprojects{
    padding-left: 40px;
    font-family: calibri;
}